@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: tomato;
    color: white;
}

section.imagem > p {
    background-color: black;
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}